.story__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .story__images {
    flex: 1;
    position: relative;
    margin-right: 20px; /* Add space between the image and text */
  }
  
  .story__data {
    flex: 1;
  }
  
  .story__title {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .story__description {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .story__img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .story__square {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
  }
  
  .button--small {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .button--small:hover {
    background-color: #CBB26A;
  }
