/* Login.css */

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login-container h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  border-bottom: 2px solid #CBB26A
  ;
  padding-bottom: 10px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container form div {
  margin-bottom: 15px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.login-container input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container button {
  display: inline-block;
  background: #CBB26A
  ;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.login-container button:hover {
  background: #CBB26A
  ;
}
